.main{
    width: 260px;
    border: 2px solid #000;
    border-radius: 5%;
    text-align: center;
    align-content: center;
    padding-top: 2%;
    background-color: white;
    font-size: large;
}
img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border: 1px solid gray;
}
button{
    height: 28px; width: 54px; background-color: #1877f2; border: none; border-radius: 6px; font-size: 10px; padding: 10px; color: white; text-align: left; margin-bottom: 10px;
}